<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Quki</title>
		<link rel="shortcut icon" href="images/quki.ico" />
		<meta http-equiv="Content-Type" content="text/html; charset=windows-1251" />
		<link type="text/css" href="custom-theme/jquery-ui-1.8.5.custom.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="style_private_office.css" />
		<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
		<script type="text/javascript" src="js/jquery-ui-1.8.5.custom.min.js"></script>
		<script type="text/javascript">
		/*<![CDATA[*/
			$(function(){
				$('input:submit').button();
			});
		/*]]>*/
		</script>
	</head>
	<body>
		<div id="container">
			<div id="header">
				<div class="top">
					<div class="logo">
						<a href="#">
							<img src="images/parts/logo.png" alt="Quki" />
						</a>
					</div>
					<div class="banner_top">
						<a href="#">
							<img src="images/banners/banner_LCD.jpg" alt="Баннер" />
						</a>
					</div>
				</div>
				<div class="user_name">
					Алексеев Алекс&#x301;ей
				</div>
				<div class="presence">
					<span class="online">Online</span>
					<span class="last_visiting">Был: 25.09.2010</span>
				</div>
				<form action="#">
					<div class="status">
						<a href="block_uploads_status.html">Война... Война никогда не меняется (Fallout)</a>
					</div>
				</form>
				<form action="#">
					<div class="exit_button">
						<input id="end" name="end" value="Выход" type="submit" />
					</div>
				</form>
			</div>
			<div id="nav">
				<div class="avatar">
					<img src="images/private_office/1/avatar.jpg" alt="Аватар" />
				</div>
				<div class="menu_user">
					<ul>
						<li class="b"><a href="private_office.html">Страница кабинета</a></li>
						<li><a href="messages.html">Сообщения</a><span>10000&nbsp;/&nbsp;<a href="messages.html">2000</a></span></li>
						<li><a href="message.html">Написать сообщение</a></li>
						<li><a href="#">Подарки</a></li>
						<li><a href="#">Отправить подарок</a></li>
						<li><a href="frends.html">Друзья</a></li>
						<li><a href="organizer.html">Органайзер</a></li>
						<li><a href="photo_gallery.html">Фотоальбомы</a></li>
						<li><a href="my_video.html">Видеозаписи</a></li>
						<li><a href="settings.html">Настройки</a></li>
					</ul>
				</div>
				<div class="birthday_man">
					<div class="panel">
						<div class="tip"></div>
						<div class="plashka"></div>
						<h6>Дни рождения</h6>
					</div>
					<ul>
						<li><a href="private_office_other_user.html">Иванов Иван Ибн Ван Д' Конел Пан Иван</a></li>
						<li><a href="private_office_other_user.html">Екатерина Иванова</a></li>
					</ul>
				</div>
			</div>
			<div id="aside">
				<div class="banner_right">
					<a href="#">
						<img src="images/banners/banner_Fantasy.jpg" alt="Банер" />
					</a>
				</div>
				<div class="calendar_list">
					<div class="calendar-top"></div>
					<div class="date">
						<span>20 сентября
						понедельник</span>
					</div>
					<div class="event">
						<a href="organizer.html">встреча в парке в 18:00</a>
					</div>
					<div class="daily_log">
						<a href="organizer.html">Ежедневник</a>
						<ul>
							<li>Купить молоко</li>
							<li>Найти Крочи</li>
							<li>Спасти мир</li>
						</ul>
					</div>
					<div class="calendar">
						<a href="organizer.html" class="today">20</a>|<a href="organizer.html" class="usual_day">21</a>|<a href="organizer.html" class="usual_day">22</a>|<a href="organizer.html" class="the_planned_events">23</a>|<a href="organizer.html" class="usual_day">24</a>|<a href="organizer.html" class="the_planned_events">25</a>|<a href="organizer.html" class="holidays" title="День машиностроителя">26</a>
					</div>
				</div>
			</div>

			<div id="content">
				<form action="#">
					<div class="top_navigation_add_added_addres">
						<ul id="lists">
							<li><a href="organizer.html">Адресная книга</a> &gt;&nbsp;</li>
							<li>Добавить адрес</li>
						</ul>
					</div>
					<div class="block_add_address">
						<dl>
							<dt>
								<label for="add_recipient_name">Имя</label>
							</dt>
							<dd>
								<input id="add_recipient_name" name="add_recipient_name" type="text" value="" maxlength="50" size="50" />
							</dd>
							<dt>
								<label for="add_recipient_surname">Фамилия</label>
							</dt>
							<dd>
								<input id="add_recipient_surname" name="add_recipient_surname" type="text" value="" maxlength="50" size="50" />
							</dd>
							<dt>
								<label for="add_recipient_patronymic">Отчество</label>
							</dt>
							<dd>
								<input id="add_recipient_patronymic" name="add_recipient_patronymic" type="text" value="" maxlength="50" size="50" />
							</dd>
							<dt>
								<label for="add_recipient_date_birth">Дата рождения</label>
							</dt>
							<dd>
								<input id="add_recipient_date_birth" name="add_recipient_date_birth" type="text" value="" maxlength="" size="50" />
							</dd>
							<dt>
								<label for="add_recipient_city">Город</label>
							</dt>
							<dd>
								<input id="add_recipient_city" name="add_recipient_city" type="text" value="" maxlength="50" size="50" />
							</dd>
							<dt>
								<label for="add_recipient_street">Улица</label>
							</dt>
							<dd>
								<input id="add_recipient_street" name="add_recipient_street" type="text" value="" maxlength="50" size="50" />
							</dd>
							<dt>
								<label for="add_recipient_e-mail">Электронная почта</label>
							</dt>
							<dd>
								<input id="add_recipient_e-mail" name="add_recipient_e-mail" type="text" value="" maxlength="100" size="50" />
							</dd>
							<dt>
								<label for="add_recipient_mobile_phone">сотовый телефон</label>
							</dt>
							<dd>
								<input id="add_recipient_mobile_phone" name="add_recipient_mobile_phone" type="text" value="" maxlength="30" size="50" />
							</dd>
							<dt>
								<label for="add_recipient_home_phone">домашний телефон</label>
							</dt>
							<dd>
								<input id="add_recipient_home_phone" name="add_recipient_home_phone" type="text" value="" maxlength="30" size="50" />
							</dd>
							<dt>
								<label for="add_recipient_work_phone">рабочий телефон</label>
							</dt>
							<dd>
								<input id="add_recipient_work_phone" name="add_recipient_work_phone" type="text" value="" maxlength="30" size="50" />
							</dd>
							<dt>
								<label for="add_recipient_icq">ICQ</label>
							</dt>
							<dd>
								<input id="add_recipient_icq" name="add_recipient_icq" type="text" value="" maxlength="30" size="50" />
							</dd>
							<dt>
								<label for="add_recipient_skype">Skype</label>
							</dt>
							<dd>
								<input id="add_recipient_skype" name="add_recipient_skype" type="text" value="" maxlength="50" size="50" />
							</dd>
							<dt>
								<label for="add_recipient_place_study">Место учебы</label>
							</dt>
							<dd>
								<input id="add_recipient_place_study" name="add_recipient_place_study" type="text" value="" maxlength="100" size="50" />
							</dd>
							<dt>
								<label for="add_recipient_job">Место работы</label>
							</dt>
							<dd>
								<input id="add_recipient_job" name="add_recipient_job" type="text" value="" maxlength="100" size="50" />
							</dd>
							<dt>
								<label for="add_recipient_post">Должность</label>
							</dt>
							<dd>
								<input id="add_recipient_post" name="add_recipient_post" type="text" value="" maxlength="100" size="50" />
							</dd>
							<dt>
								<label for="add_recipient_note">Примечания</label>
							</dt>
							<dd>
								<textarea id="add_recipient_note" name="add_recipient_note" cols="40" rows="6"></textarea>
							</dd>
						</dl>
						<div class="button_add_address">
							<input id="add_an_address_to_a_friend" name="add_an_address_to_a_friend" value="Добавить" type="submit" />
						</div>
					</div>
				</form>
			</div>
			<div class="clearfloat"></div>
			<div class="empty_footer"></div>
		</div>
		<div id="footer">
			<a href="#">2011&nbsp;Quki</a> · <a href="registraciya_1.html">Регистрация</a> · <a href="#">Служба поддержки</a> · <a href="#">Все проекты</a> · <a href="#">Реклама на Quki.ru</a> · <a href="#">Вакансии</a> · <a href="#">Обратная связь</a> · <a href="#">Карта сайта</a>
		</div>
	</body>
</html>