<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Quki</title>
		<link rel="shortcut icon" href="images/quki.ico" />
		<meta http-equiv="Content-Type" content="text/html; charset=windows-1251" />
		<link type="text/css" href="custom-theme/jquery-ui-1.8.5.custom.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="style_private_office.css" />
		<!--[if lte IE 7]>
		<link rel="stylesheet" type="text/css" href="style.ie.css" />
		<![endif]-->
		<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
		<script type="text/javascript" src="js/jquery-ui-1.8.5.custom.min.js"></script>
		 <script type="text/javascript">
		<!--
		function SetVisible(obj,val)
		{
		   obj.className = val ? "photo_area_visible" : "photo_area_hidden";
		}
		// -->
		/*<![CDATA[*/
			$(function(){
				$('input:submit').button();
			});
		/*]]>*/
		</script>
	</head>
	<body>
		<div id="container">
			<div id="header">
				<div class="top">
					<div class="logo">
						<a href="#">
							<img src="images/parts/logo.png" alt="Quki" />
						</a>
					</div>
					<div class="banner_top">
						<a href="#">
							<img src="images/banners/banner_LCD.jpg" alt="Баннер" />
						</a>
					</div>
				</div>
				<div class="user_name">
					Алексеев Алекс&#x301;ей
				</div>
				<div class="presence">
					<span class="online">Online</span>
					<span class="last_visiting">Был: 25.09.2010</span>
				</div>
				<form action="#">
					<div class="status">
						<a href="block_uploads_status.html">Война... Война никогда не меняется (Fallout)</a>
					</div>
				</form>
				<form action="#">
					<div class="exit_button">
						<input id="end" name="end" value="Выход" type="submit" />
					</div>
				</form>
			</div>
			<div id="nav">
				<div class="avatar">
					<img src="images/private_office/1/avatar.jpg" alt="Аватар" />
				</div>
				<div class="menu_user">
					<ul>
						<li class="b"><a href="private_office.html">Страница кабинета</a></li>
						<li><a href="messages.html">Сообщения</a><span>10000&nbsp;/&nbsp;<a href="messages.html">2000</a></span></li>
						<li><a href="message.html">Написать сообщение</a></li>
						<li><a href="#">Подарки</a></li>
						<li><a href="#">Отправить подарок</a></li>
						<li><a href="frends.html">Друзья</a></li>
						<li><a href="organizer.html">Органайзер</a></li>
						<li><a href="photo_gallery.html">Фотоальбомы</a></li>
						<li><a href="my_video.html">Видеозаписи</a></li>
						<li><a href="settings.html">Настройки</a></li>
					</ul>
				</div>
				<div class="birthday_man">
					<div class="panel">
						<div class="tip"></div>
						<div class="plashka"></div>
						<h6>Дни рождения</h6>
					</div>
					<ul>
						<li><a href="private_office_other_user.html">Иванов Иван Ибн Ван Д' Конел Пан Иван</a></li>
						<li><a href="private_office_other_user.html">Екатерина Иванова</a></li>
					</ul>
				</div>
			</div>
			<div id="aside">
				<div class="banner_right">
					<a href="#">
						<img src="images/banners/banner_Fantasy.jpg" alt="Банер" />
					</a>
				</div>
				<div class="calendar_list">
					<div class="calendar-top"></div>
					<div class="date">
						<span>20 сентября
						понедельник</span>
					</div>
					<div class="event">
						<a href="organizer.html">встреча в парке в 18:00</a>
					</div>
					<div class="daily_log">
						<a href="organizer.html">Ежедневник</a>
						<ul>
							<li>Купить молоко</li>
							<li>Найти Крочи</li>
							<li>Спасти мир</li>
						</ul>
					</div>
					<div class="calendar">
						<a href="organizer.html" class="today">20</a>|<a href="organizer.html" class="usual_day">21</a>|<a href="organizer.html" class="usual_day">22</a>|<a href="organizer.html" class="the_planned_events">23</a>|<a href="organizer.html" class="usual_day">24</a>|<a href="organizer.html" class="the_planned_events">25</a>|<a href="organizer.html" class="holidays" title="День машиностроителя">26</a>
					</div>
				</div>
			</div>

			<div id="content">
				<div class="top_navigation_album">
					<ul id="lists">
						<li><a href="photo_gallery.html">Мои фотографии</a>&nbsp;<img src="images/parts/next_link.png" alt="" />&nbsp;</li>
						<li>Объект и Свет</li>
					</ul>
					<div class="balls_photos_album">
						<p>Баллов: <span class="ball">5670</span> | Фотографий: 42</p>
					</div>
					<div class="to_load_a_photo">
						<a href="photo_loading.html">Загрузить фотографию</a>
					</div>
					<ul title="страница с фотографиями">
						<li><a href="#">1…12</a></li>
						<li><a href="#">16…30</a></li>
						<li><a href="#">31…45</a></li>
						<li><a href="#">46…60</a></li>
						<li><a href="#" title="следующая страница"><img src="images/parts/next.png" alt="" /></a></li>
						<li><a href="#" title="последняя страница"><img src="images/parts/end.png" alt="" /></a></li>
					</ul>
				</div>
				<div class="album_page">
					<ul>
						<li>
							<div class="info_about_photo">
								<span class="date_photo">12.02.2011</span>
								<a href="photo_01.html">
									<img src="images/photo/photo_albums/my_photos/01/album_1/1.jpg" alt="Фотография" />
								</a>
								<span class="photo_name">Облик свободы</span>
							</div>
						</li>
						<li>
							<div class="info_about_photo">
								<span class="date_photo">12.02.2011</span>
								<a href="photo_01.html">
									<img src="images/photo/photo_albums/my_photos/01/album_1/2.jpg" alt="Фотография" />
								</a>
								<span class="photo_name">В завтрашний путь</span>
							</div>
						</li>
						<li>
							<div class="info_about_photo">
								<span class="date_photo">12.02.2011</span>
								<a href="photo_01.html">
									<img src="images/photo/photo_albums/my_photos/01/album_1/3.jpg" alt="Фотография" />
								</a>
								<span class="photo_name">Облик грядущего</span>
							</div>
						</li>
						<li>
							<div class="info_about_photo">
								<span class="date_photo">12.02.2011</span>
								<a href="photo_01.html">
									<img src="images/photo/photo_albums/my_photos/01/album_1/4.jpg" alt="Фотография" />
								</a>
								<span class="photo_name">На пути в сказочную страну</span>
							</div>
						</li>
						<li>
							<div class="info_about_photo">
								<span class="date_photo">12.02.2011</span>
								<a href="photo_01.html">
									<img src="images/photo/photo_albums/my_photos/01/album_1/5.jpg" alt="Фотография" />
								</a>
								<span class="photo_name">Утро в горах</span>
							</div>
						</li>
						<li>
							<div class="info_about_photo">
								<span class="date_photo">12.02.2011</span>
								<a href="photo_01.html">
									<img src="images/photo/photo_albums/my_photos/01/album_1/6.jpg" alt="Фотография" />
								</a>
								<span class="photo_name">Утро в лесу</span>
							</div>
						</li>
						<li>
							<div class="info_about_photo">
								<span class="date_photo">12.02.2011</span>
								<a href="photo_01.html">
									<img src="images/photo/photo_albums/my_photos/01/album_1/7.jpg" alt="Фотография" />
								</a>
								<span class="photo_name">Серия: Храмы</span>
							</div>
						</li>
						<li>
							<div class="info_about_photo">
								<span class="date_photo">12.02.2011</span>
								<a href="photo_01.html">
									<img src="images/photo/photo_albums/my_photos/01/album_1/8.jpg" alt="Фотография" />
								</a>
								<span class="photo_name">Серия: Храмы</span>
							</div>
						</li>
						<li>
							<div class="info_about_photo">
								<span class="date_photo">12.02.2011</span>
								<a href="photo_01.html">
									<img src="images/photo/photo_albums/my_photos/01/album_1/9.jpg" alt="Фотография" />
								</a>
								<span class="photo_name">Серия: Храмы</span>
							</div>
						</li>
						<li>
							<div class="info_about_photo">
								<span class="date_photo">12.02.2011</span>
								<a href="photo_01.html">
									<img src="images/photo/photo_albums/my_photos/01/album_1/10.jpg" alt="Фотография" />
								</a>
								<span class="photo_name">Учение - Свет</span>
							</div>
						</li>
						<li>
							<div class="info_about_photo">
								<span class="date_photo">12.02.2011</span>
								<a href="photo_01.html">
									<img src="images/photo/photo_albums/my_photos/01/album_1/11.jpg" alt="Фотография" />
								</a>
								<span class="photo_name">Блуждание в поисках себя</span>
							</div>
						</li>
						<li>
							<div class="info_about_photo">
								<span class="date_photo">12.02.2011</span>
								<a href="photo_01.html">
									<img src="images/photo/photo_albums/my_photos/01/album_1/12.jpg" alt="Фотография" />
								</a>
								<span class="photo_name">Из закаулка в небо</span>
							</div>
						</li>
						<li>
							<div class="info_about_photo">
								<span class="date_photo">12.02.2011</span>
								<a href="photo_01.html">
									<img src="images/photo/photo_albums/my_photos/01/album_1/13.jpg" alt="Фотография" />
								</a>
								<span class="photo_name">В ожидании его</span>
							</div>
						</li>
						<li>
							<div class="info_about_photo">
								<span class="date_photo">12.02.2011</span>
								<a href="photo_01.html">
									<img src="images/photo/photo_albums/my_photos/01/album_1/14.jpg" alt="Фотография" />
								</a>
								<span class="photo_name">Человек и природа</span>
							</div>
						</li>
						<li>
							<div class="info_about_photo">
								<span class="date_photo">12.02.2011</span>
								<a href="photo_01.html">
									<img src="images/photo/photo_albums/my_photos/01/album_1/15.jpg" alt="Фотография" />
								</a>
								<span class="photo_name">Утро в Австралии</span>
							</div>
						</li>
					</ul>
					<div class="the_album_description">
						<p>Здесь собраны фотографии в которых объект и свет сочетаясь вместе дают красивый и запоминающийся образ.</p>
					</div>
				</div>
				<div class="bottom_navigation_album">
					<ul title="страница с фотографиями">
						<li><a href="#">1…12</a></li>
						<li><a href="#">16…30</a></li>
						<li><a href="#">31…45</a></li>
						<li><a href="#">46…60</a></li>
						<li><a href="#" title="следующая страница"><img src="images/parts/next.png" alt="" /></a></li>
						<li><a href="#" title="последняя страница"><img src="images/parts/end.png" alt="" /></a></li>
					</ul>
				</div>
			</div>
			<div class="clearfloat"></div>
			<div class="empty_footer"></div>
		</div>
		<div id="footer">
			<a href="#">2011&nbsp;Quki</a> · <a href="registraciya_1.html">Регистрация</a> · <a href="#">Служба поддержки</a> · <a href="#">Все проекты</a> · <a href="#">Реклама на Quki.ru</a> · <a href="#">Вакансии</a> · <a href="#">Обратная связь</a> · <a href="#">Карта сайта</a>
		</div>
	</body>
</html>