<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Quki</title>
		<link rel="shortcut icon" href="images/quki.ico" />
		<meta http-equiv="Content-Type" content="text/html; charset=windows-1251" />
		<link type="text/css" href="custom-theme/jquery-ui-1.8.5.custom.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="style_private_office.css" />		
		<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
		<script type="text/javascript" src="js/jquery-ui-1.8.5.custom.min.js"></script>
		<script type="text/javascript">
		/*<![CDATA[*/
			$(function(){
				$('#tabs').tabs();
				$('input:submit').button();
			});
		/*]]>*/
		</script>
	</head>
	<body>
		<div id="container">
			<div id="header">
				<div class="top">
					<div class="logo">
						<a href="#">
							<img src="images/parts/logo.png" alt="Quki" />
						</a>
					</div>
					<div class="banner_top">
						<a href="#">
							<img src="images/banners/banner_LCD.jpg" alt="Баннер" />
						</a>
					</div>
				</div>
				<div class="user_name">
					Алексеев Алекс&#x301;ей
				</div>
				<div class="presence">
					<span class="online">Online</span>
					<span class="last_visiting">Был: 25.09.2010</span>
				</div>
				<form action="#">
					<div class="status">
						<a href="block_uploads_status.html">Война... Война никогда не меняется (Fallout)</a>
					</div>
				</form>
				<form action="#">
					<div class="exit_button">
						<input id="end" name="end" value="Выход" type="submit" />
					</div>
				</form>
			</div>
			<div id="nav">
				<div class="avatar">
					<img src="images/private_office/1/avatar.jpg" alt="Аватар" />
				</div>
				<div class="menu_user">
					<ul>
						<li class="b"><a href="new_private_office.html" class="menu_user">Страница кабинета</a></li>
						<li><a href="empty_messages.html">Сообщения</a></li>
						<li><a href="message.html" class="menu_user">Написать сообщение</a></li>
						<li><a href="#">Подарки</a></li>
						<li><a href="#">Отправить подарок</a></li>
						<li><a href="empty_frends.html">Друзья</a></li>
						<li><a href="organizer.html">Органайзер</a></li>
						<li><a href="empty_photo_gallery.html">Фотоальбомы</a></li>
						<li><a href="empty_my_video.html">Видеозаписи</a></li>
						<li><a href="settings.html">Настройки</a></li>
					</ul>
				</div>
			</div>
			<div id="aside">
				<div class="banner_right">
					<a href="#">
						<img src="images/banners/banner_Fantasy.jpg" alt="Банер" />
					</a>
				</div>
				<div class="calendar_list">
					<div class="calendar-top"></div>
					<div class="date">
						<span>20 сентября
						понедельник</span>
					</div>
					<div class="event">
						<a href="organizer.html">Добавить напоминания</a>
					</div>
					<div class="daily_log">
						<a href="organizer.html">Ежедневник</a>
					</div>
					<div class="calendar">
						<a href="organizer.html" class="today">20</a>|<a href="organizer.html" class="usual_day">21</a>|<a href="organizer.html" class="usual_day">22</a>|<a href="organizer.html" class="the_planned_events">23</a>|<a href="organizer.html" class="usual_day">24</a>|<a href="organizer.html" class="the_planned_events">25</a>|<a href="organizer.html" class="holidays" title="День машиностроителя">26</a>
					</div>
				</div>
			</div>

			<div id="content">
				<div id="tabs">
					<ul class="tabs">
						<li><a href="#tads-1" class="tabs_activ">Мое видео</a></li>
						<li><a href="#tads-2" class="tabs">Избранное</a></li>
						<li><a href="#tads-3" class="tabs">Конкурсное</a></li>
					</ul>
					<form action="#">
						<div id="tads-1">
							<div class="top_navigation">
								<div class="video_loading">
									<a href="video_loading.html" class="video_loading">Загрузить видео</a>
								</div>
							</div>
							<div class="empty_block">
								<span>У вас пока нет видеозаписей</span>
							</div>
							<div class="bottom_navigation">
							</div>
						</div>
					</form>

					<form action="#">
						<div id="tads-2">
							<div class="top_navigation">
							</div>
							<div class="empty_block">
								<span>У вас пока нет видеозаписей</span>
							</div>
							<div class="bottom_navigation">
							</div>
						</div>
					</form>

					<form action="#">
						<div id="tads-3">
							<div class="top_navigation">
								<div class="video_loading">
									<a href="video_loading.html" class="video_loading">Загрузить видео</a>
								</div>
							</div>
							<div class="empty_block">
								<span>У вас пока нет видеозаписей</span>
							</div>
							<div class="bottom_navigation">
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="clearfloat"></div>
			<div class="empty_footer"></div>
		</div>
		<div id="footer">
			<a href="#">2011&nbsp;Quki</a> · <a href="registraciya_1.html">Регистрация</a> · <a href="#">Служба поддержки</a> · <a href="#">Все проекты</a> · <a href="#">Реклама на Quki.ru</a> · <a href="#">Вакансии</a> · <a href="#">Обратная связь</a> · <a href="#">Карта сайта</a>
		</div>
	</body>
</html>