<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Quki</title>
		<link rel="shortcut icon" href="images/quki.ico" />
		<meta http-equiv="Content-Type" content="text/html; charset=windows-1251" />
		<link type="text/css" href="custom-theme/jquery-ui-1.8.5.custom.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="style_private_office.css" />		
		<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
		<script type="text/javascript" src="js/jquery-ui-1.8.5.custom.min.js"></script>
		<script type="text/javascript">
		/*<![CDATA[*/
			$(function(){
				$('input:submit').button();
			});
		/*]]>*/
		</script>
	</head>
	<body>
		<div id="container">
			<div id="header">
				<div class="top">
					<div class="logo">
						<a href="#">
							<img src="images/parts/logo.png" alt="Quki" />
						</a>
					</div>
					<div class="banner_top">
						<a href="#">
							<img src="images/banners/banner_LCD.jpg" alt="Баннер" />
						</a>
					</div>
				</div>
				<div class="user_name">
					Алексеев Алекс&#x301;ей
				</div>
				<div class="presence">
					<span class="online">Online</span>
					<span class="last_visiting">Был: 25.09.2010</span>
				</div>
				<form action="#">
					<div class="status">
						<a href="#">Война... Война никогда не меняется (Fallout)</a>
					</div>
				</form>
				<form action="#">
					<div class="exit_button">
						<input value="Выход" type="submit" />
					</div>
				</form>
			</div>
			<div id="nav">
				<div class="small_menu">
					<div class="panel">
						<div class="tip"></div>
						<div class="plashka"></div>
						<h6>Мой кабинет</h6>
					</div>
					<ul>
						<li><a href="private_office.html">Личный кабинет</a></li>
						<li><a href="messages.html">Сообщения</a><span>10000&nbsp;/&nbsp;<a href="messages.html">2000</a></span></li>
						<li><a href="message.html">Написать сообщение</a></li>
					</ul>
				</div>
				<div class="avatar">
					<img src="images/private_office/1/avatar.jpg" alt="Аватар" />
				</div>
				<div class="menu_user">
					<ul>
						<li class="b"><a href="private_office_for_other_user.html">Страница кабинета</a></li>
						<li><a href="#">Добавить в друзья</a></li>
						<li><a href="message.html">Написать сообщение</a></li>
						<li><a href="#">Отправить подарок</a></li>
					</ul>
				</div>
			</div>
			<div id="aside">
				<div class="banner_right">
					<a href="#">
						<img src="images/banners/banner_Fantasy.jpg" alt="Банер" />
					</a>
				</div>
				<div class="calendar_list">
					<div class="calendar-top"></div>
					<div class="date">
						<span>20 сентября
						понедельник</span>
					</div>
					<div class="event">
						<a href="organizer.html">встреча в парке в 18:00</a>
					</div>
					<div class="daily_log">
						<a href="organizer.html">Ежедневник</a>
						<ul>
							<li>Купить молоко</li>
							<li>Найти Крочи</li>
							<li>Спасти мир</li>
						</ul>
					</div>
					<div class="calendar">
						<a href="organizer.html" class="today">20</a>|<a href="organizer.html" class="usual_day">21</a>|<a href="organizer.html" class="usual_day">22</a>|<a href="organizer.html" class="the_planned_events">23</a>|<a href="organizer.html" class="usual_day">24</a>|<a href="organizer.html" class="the_planned_events">25</a>|<a href="organizer.html" class="holidays" title="День машиностроителя">26</a>
					</div>
				</div>
			</div>

			<div id="content">
				<form action="#">
					<div class="page_photo">
						<ul id="lists">
							<li><a href="photo_gallery_for_other_user.html">Мои фотографии</a>&nbsp;<img src="images/parts/next_link.png" alt="" />&nbsp;</li>
							<li><a href="album_01_for_other_user.html">Объект и свет</a>&nbsp;<img src="images/parts/next_link.png" alt="" />&nbsp;</li>
							<li>Облик свободы</li>
						</ul>
						<div class="photo_place">
							<a href="#">
								<img src="images/photo/photo_albums/my_photos/01/album_1/photo/01.jpg" alt="Фотография" />
							</a>
						</div>
						<span class="loading_date_photo">12.09.2010</span>
						<div class="the_photo_description">
							<p>Вот такой снимочек</p>
						</div>
						<div class="voting_area">
							<div class="closed_opportunity_to_vote">
								<span>Доступ к голосованию закрыт</span>
							</div>
							<div class="quantity_balls">
								<p>Баллов: <span class="ball">500000000000</span></p>
								<a href="voted_01_for_other_user.html">Проголосовавшие</a>
							</div>
							<div class="the_general_estimation">
								Общая оценка<span class="estimation">5</span>
							</div>
						</div>
						<span class="quantity_of_comments">Комментариев: 3</span>
					</div>
					<div class="the_photo_menu_abbreviated">
						<ul>
							<li>
								<a href="#">Добавить в избранное</a>
							</li>
						</ul>
						<ul>
							<li>
								<a href="#">Показать друзьям</a>
							</li>
						</ul>
						<ul>
							<li>
								<a href="#">Отметить друзей</a>
							</li>
						</ul>
					</div>
					<div class="area_of_comments">
						<div class="area_of_comment">
							<div class="avatar_coment">
								<a href="private_office_other_user.html">
									<img src="images/private_office/1/ava_4.jpg" alt="Аватар" />
								</a>
							</div>
							<div class="comment">
								<div class="comment_heading">
									<a href="private_office_other_user.html" class="name_commentator">Самануэль-Ванндерборедор Ибн Евграф Нович-Столыпин</a>
									<p class="comment_date">21:30 12.09.2010</p>
								</div>
								<div class="text_comment">
									<p>Здорово!</p>
								</div>
							</div>
						</div>

						<div class="area_of_comment">
							<div class="avatar_coment">
								<a href="private_office_other_user.html">
									<img src="images/private_office/1/ava_8.jpg" alt="Аватар" />
								</a>
							</div>
							<div class="comment">
								<div class="comment_heading">
									<a href="private_office_other_user.html" class="name_commentator">Георгий Кикабидзе</a>
									<p class="comment_date">21:30 12.09.2010</p>
								</div>
								<div class="text_comment">
									<p>Великолепная фотография! И идея хорошая.</p>
								</div>
							</div>
						</div>

						<div class="area_of_comment">
							<div class="avatar_coment">
								<a href="private_office_other_user.html">
									<img src="images/private_office/1/ava_3.jpg" alt="Аватар" />
								</a>
							</div>
							<div class="comment">
								<div class="comment_heading">
									<a href="private_office_other_user.html" class="name_commentator">Анастасия Селезнева</a>
									<p class="comment_date">21:30 12.09.2010</p>
								</div>
								<div class="text_comment">
									<p>Да, символизм присутствует) Фотограф молодец)</p>
								</div>
							</div>
						</div>
					</div>
					<div class="closed_write_coments">
						<span>Доступ к написанию комментария закрыт</span>
					</div>
				</form>
			</div>
			<div class="clearfloat"></div>
			<div class="empty_footer"></div>
		</div>
		<div id="footer">
			<a href="#">2011&nbsp;Quki</a> · <a href="registraciya_1.html">Регистрация</a> · <a href="#">Служба поддержки</a> · <a href="#">Все проекты</a> · <a href="#">Реклама на Quki.ru</a> · <a href="#">Вакансии</a> · <a href="#">Обратная связь</a> · <a href="#">Карта сайта</a>
		</div>
	</body>
</html>