<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Quki</title>
		<link rel="shortcut icon" href="images/quki.ico" />
		<meta http-equiv="Content-Type" content="text/html; charset=windows-1251" />
		<link type="text/css" href="custom-theme/jquery-ui-1.8.5.custom.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="style_private_office.css" />		
		<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
		<script type="text/javascript" src="js/jquery-ui-1.8.5.custom.min.js"></script>
		<script type="text/javascript">
		/*<![CDATA[*/
			$(function(){
				$('input:submit').button();
			});
		/*]]>*/
		</script>
	</head>
	<body>
		<div id="container">
			<div id="header">
				<div class="top">
					<div class="logo">
						<a href="#">
							<img src="images/parts/logo.png" alt="Quki" />
						</a>
					</div>
					<div class="banner_top">
						<a href="#">
							<img src="images/banners/banner_LCD.jpg" alt="Баннер" />
						</a>
					</div>
				</div>
				<div class="user_name">
					Алексеев Алекс&#x301;ей
				</div>
				<div class="presence">
					<span class="online">Online</span>
					<span class="last_visiting">Был: 25.09.2010</span>
				</div>
				<form action="#">
					<div class="status">
						<a href="block_uploads_status.html">Война... Война никогда не меняется (Fallout)</a>
					</div>
				</form>
				<form action="#">
					<div class="exit_button">
						<input id="end" name="end" value="Выход" type="submit" />
					</div>
				</form>
			</div>
			<div id="nav">
				<div class="avatar">
					<img src="images/private_office/1/avatar.jpg" alt="Аватар" />
				</div>
				<div class="menu_user">
					<ul>
						<li class="b"><a href="private_office.html">Страница кабинета</a></li>
						<li><a href="messages.html">Сообщения</a><span>10000&nbsp;/&nbsp;<a href="messages.html">2000</a></span></li>
						<li><a href="message.html">Написать сообщение</a></li>
						<li><a href="#">Подарки</a></li>
						<li><a href="#">Отправить подарок</a></li>
						<li><a href="frends.html">Друзья</a></li>
						<li><a href="organizer.html">Органайзер</a></li>
						<li><a href="photo_gallery.html">Фотоальбомы</a></li>
						<li><a href="my_video.html">Видеозаписи</a></li>
						<li><a href="settings.html">Настройки</a></li>
					</ul>
				</div>
				<div class="birthday_man">
					<div class="panel">
						<div class="tip"></div>
						<div class="plashka"></div>
						<h6>Дни рождения</h6>
					</div>
					<ul>
						<li><a href="private_office_other_user.html">Иванов Иван Ибн Ван Д' Конел Пан Иван</a></li>
						<li><a href="private_office_other_user.html">Екатерина Иванова</a></li>
					</ul>
				</div>
			</div>
			<div id="aside">
				<div class="banner_right">
					<a href="#">
						<img src="images/banners/banner_Fantasy.jpg" alt="Банер" />
					</a>
				</div>
				<div class="calendar_list">
					<div class="calendar-top"></div>
					<div class="date">
						<span>20 сентября
						понедельник</span>
					</div>
					<div class="event">
						<a href="organizer.html">встреча в парке в 18:00</a>
					</div>
					<div class="daily_log">
						<a href="organizer.html">Ежедневник</a>
						<ul>
							<li>Купить молоко</li>
							<li>Найти Крочи</li>
							<li>Спасти мир</li>
						</ul>
					</div>
					<div class="calendar">
						<a href="organizer.html" class="today">20</a>|<a href="organizer.html" class="usual_day">21</a>|<a href="organizer.html" class="usual_day">22</a>|<a href="organizer.html" class="the_planned_events">23</a>|<a href="organizer.html" class="usual_day">24</a>|<a href="organizer.html" class="the_planned_events">25</a>|<a href="organizer.html" class="holidays" title="День машиностроителя">26</a>
					</div>
				</div>
			</div>

			<div id="content">
				<div class="info_user">
					<div class="tip2"></div>
					<div class="plashka2"></div>
					<h6>Личная информация</h6>
					<dl>
						<dt>
							<label>Пол</label>
						</dt>
						<dd>мужской</dd>
						<dt>
							<label>Проживание</label>
						</dt>
						<dd>Россия, респ. Татарстан, Казань</dd>
						<dt>
							<label>Возраст</label>
						</dt>
						<dd>20</dd>
						<dt>
							<label>Дата рождения</label>
						</dt>
						<dd>01 января 1990</dd>
						<dt>
							<label>Знак зодиака</label>
						</dt>
						<dd>Козерог</dd>
					</dl>
					<form action="#">
						<div class="link_details_info">
							<a href="private_office.html">v Подробная информация v</a>
						</div>
					</form>
					<dl>
						<dt>
							<label>Семейное положение</label>
						</dt>
						<dd>есть пара</dd>
						<dt>
							<label>Сотовый телефон</label>
						</dt>
							<dd>89000000001</dd>
						<dt>
							<label>Школа</label>
						</dt>
						<dd>№ 01</dd>
						<dt>
							<label>ВУЗ</label>
						</dt>
						<dd>КГТУ (КАИ) им. Туполева</dd>
						<dt>
							<label>Работа</label>
						</dt>
						<dd>прохожу практику Инженером по двигателям, на заводе им. Горбунова</dd>
						<dt>
							<label>Политические взгляды</label>
						</dt>
						<dd>социал-демократические</dd>
						<dt>
							<label>Кратко о себе</label>
						</dt>
						<dd>Добродушный и эксцентричный человек. Имею множество интересов в этой жизни.</dd>
						<dt>
							<label>О музыке</label>
						</dt>
						<dd>В музыкальном предпочтенни отдаю року, нашему и зарубежному, а также электронной музыке, альтернативе, некоторым рэп иполнителям и бардам.</dd>
						<dt>
							<label>Любимые фильмы</label>
						</dt>
						<dd>"Искуственный разум", "Сталкер", "Безумный Макс (1,2,3)", "Парень и его пес", "Обитель зла", "Метрополис" (1927), аниме "Евангелион", "Пипец", "Матрица" и т.д.</dd>
						<dt>
							<label>Игры</label>
						</dt>
						<dd>Любимыми играми являются ролевка, S.T.A.L.K.E.R., серия Fallout, Resident Evil и "Duke Nuken" (Foreva!).</dd>
						<dt>
							<label>Любимые книги</label>
						</dt>
						<dd>Обажаю книги Герберта Уэлса, А. и Б. Стругацких, Уильяма Гипсона, Сергея Лукьяненко, серии книг по вселенной S.T.A.L.K.E.R. и Зона смерти.</dd>
						<dt>
							<label>Мое хобби</label>
						</dt>
						<dd>Увлекаюсь такими жанрами фантастики, как постапокалипсис, киберпанк и биопанк. Увлекаюсь ролевыми играми. Вхожу в группу СТАЛКЕРЫ. Увлекаюсь всем, что связано с авиацией и двигателями. Пытаюсь играть на акустической гитаре. Немного рисую, в основном фан-арт.</dd>
					</dl>
				</div>
				<div class="frends">
					<div class="panel2">
						<div class="tip2"></div>
						<div class="plashka2"></div>
						<h6>Друзья</h6>
					</div>
					<div class="frend">
						<a href="private_office_other_user.html">
							<img src="images/private_office/1/ava1.jpg" alt="avatar" />
							<br />
							<span class="link_name">Евгений Гуздь</span>
						</a>
					</div>
					<div class="frend">
						<a href="private_office_other_user.html">
							<img src="images/private_office/1/ava2.jpg" alt="avatar" />
							<br />
							<span class="link_name">Ильнар Гарипов</span>
						</a>
					</div>
					<div class="frend">
						<a href="private_office_other_user.html">
							<img src="images/private_office/1/ava3.jpg" alt="avatar" />
							<br />
							<span class="link_name">Анастасия Селезнева</span>
						</a>
					</div>
					<div class="frend">
						<a href="private_office_other_user.html">
							<img src="images/private_office/1/ava4.jpg" alt="avatar" />
							<br />
							<span class="link_name">Игорь Кошкин</span>
						</a>
					</div>
					<div class="frend">
						<a href="private_office_other_user.html">
							<img src="images/private_office/1/ava5.jpg" alt="avatar" />
							<br />
							<span class="link_name">Светлана Зейналова</span>
						</a>
					</div>
					<div class="frend">
						<a href="private_office_other_user.html">
							<img src="images/private_office/1/ava6.jpg" alt="avatar" />
							<br />
							<span class="link_name">Иванова Екатерина</span>
						</a>
					</div>
					<div class="link_frends">
						<a href="frends.html">Все друзья&nbsp;&gt;&gt;</a>
					</div>
				</div>
				<div class="frends">
					<div class="panel2">
						<div class="tip2"></div>
						<div class="plashka2"></div>
						<h6>Друзья в сети</h6>
					</div>
					<div class="frend">
						<a href="private_office_other_user.html">
							<img src="images/private_office/1/ava4.jpg" alt="avatar" />
							<br />
							<span class="link_name">Игорь Кошкин</span>
						</a>
					</div>
					<div class="frend">
						<a href="private_office_other_user.html">
							<img src="images/private_office/1/ava5.jpg" alt="avatar" />
							<br />
							<span class="link_name">Светлана Зейналова</span>
						</a>
					</div>
					<div class="frend">
						<a href="private_office_other_user.html">
							<img src="images/private_office/1/ava6.jpg" alt="avatar" />
							<br />
							<span class="link_name">Иванова Екатерина</span>
						</a>
					</div>
					<div class="frend">
						<a href="private_office_other_user.html">
							<img src="images/private_office/1/ava8.jpg" alt="avatar" />
							<br />
							<span class="link_name">Георгий Кикабидзе</span>
						</a>
					</div>
					<div class="frend">
						<a href="private_office_other_user.html">
							<img src="images/private_office/1/ava17.jpg" alt="avatar" />
							<br />
							<span class="link_name">Гульнара Мингалеева</span>
						</a>
					</div>
					<div class="frend">
						<a href="private_office_other_user.html">
							<img src="images/private_office/1/ava15.jpg" alt="avatar" />
							<br />
							<span class="link_name">Дарья Волкова</span>
						</a>
					</div>
					<div class="link_frends">
						<a href="frends.html">Все друзья&nbsp;&gt;&gt;</a>
					</div>
				</div>
				<div class="albums_office">
					<div class="tip2"></div>
					<div class="plashka2"></div>
					<h6>Фотоальбомы</h6>
					<div class="album_office">
						<a href="photo_01.html">
							<img src="images/private_office/1/album_1.jpg" alt="альбом" />
						</a>
					</div>
					<div class="album_office">
						<a href="#">
							<img src="images/private_office/1/album_2.jpg" alt="альбом" />
						</a>
					</div>
					<div class="link_albums">
						<a href="photo_gallery.html">Все фотоальбомы&nbsp;&gt;&gt;</a>
					</div>
				</div>
				<div class="videos_office">
					<div class="tip2"></div>
					<div class="plashka2"></div>
					<h6>Видеозаписи</h6>
					<div class="video_office">
						<a href="video_01.html">
							<img src="images/private_office/1/video_1.jpg" alt="альбом" />
							<span class="video_time_office">0:15</span>
						</a>
					</div>
					<div class="video_office">
						<a href="video_01.html">
							<img src="images/private_office/1/video_2.jpg" alt="альбом" />
							<span class="video_time_office">3:15</span>
						</a>
					</div>
					<div class="link_videos">
						<a href="my_video.html">Все видеозаписи&nbsp;&gt;&gt;</a>
					</div>
				</div>
				<div class="gifts">
					<div class="tip2"></div>
					<div class="plashka2"></div>
					<h6>Подарки</h6>
					<div class="gift">
						<a href="#">
							<img src="images/gifts/1/1.png" alt="подарок" />
						</a>
					</div>
					<div class="gift">
						<a href="#">
							<img src="images/gifts/1/2.png" alt="подарок" />
						</a>
					</div>
					<div class="gift">
						<a href="#">
							<img src="images/gifts/1/3.png" alt="подарок" />
						</a>
					</div>
					<div class="gift">
						<a href="#">
							<img src="images/gifts/1/4.png" alt="подарок" />
						</a>
					</div>
					<div class="link_gifts">
						<a href="#">Все подарки&nbsp;&gt;&gt;</a>
					</div>
				</div>
			</div>
			<div class="clearfloat"></div>
			<div class="empty_footer"></div>
		</div>
		<div id="footer">
			<a href="#">2011&nbsp;Quki</a> · <a href="registraciya_1.html">Регистрация</a> · <a href="#">Служба поддержки</a> · <a href="#">Все проекты</a> · <a href="#">Реклама на Quki.ru</a> · <a href="#">Вакансии</a> · <a href="#">Обратная связь</a> · <a href="#">Карта сайта</a>
		</div>
	</body>
</html>