<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Quki</title>
		<link rel="shortcut icon" href="images/quki.ico" />
		<meta http-equiv="Content-Type" content="text/html; charset=windows-1251" />
		<link type="text/css" href="custom-theme/jquery-ui-1.8.5.custom.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="style_private_office.css" />		
		<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
		<script type="text/javascript" src="js/jquery-ui-1.8.5.custom.min.js"></script>
		<script type="text/javascript">
		/*<![CDATA[*/
			$(function(){
				$('input:submit').button();
			});
		/*]]>*/
		</script>
	</head>
	<body>
		<div id="container">
			<div id="header">
				<div class="top">
					<div class="logo">
						<a href="#">
							<img src="images/parts/logo.png" alt="Quki" />
						</a>
					</div>
					<div class="banner_top">
						<a href="#">
							<img src="images/banners/banner_LCD.jpg" alt="Баннер" />
						</a>
					</div>
				</div>
				<div class="user_name">
					Иванова Екатерина
				</div>
				<div class="presence">
					<span class="online">Online</span>
					<span class="last_visiting">Был: 25.09.2010</span>
				</div>
				<form action="#">
					<div class="status">
						<a href="#">Миром правит любовь (Волкодав)</a>
					</div>
				</form>
				<form action="#">
					<div class="exit_button">
						<input id="end" name="end" value="Выход" type="submit" />
					</div>
				</form>
			</div>
			<div id="nav">
				<div class="small_menu">
					<div class="panel">
						<div class="tip"></div>
						<div class="plashka"></div>
						<h6>Мой кабинет</h6>
					</div>
					<ul>
						<li><a href="private_office.html">Личный кабинет</a></li>
						<li><a href="messages.html">Сообщения</a><span>10000&nbsp;/&nbsp;<a href="messages.html">2000</a></span></li>
						<li><a href="message.html">Написать сообщение</a></li>
					</ul>
				</div>
				<div class="avatar">
					<img src="images/private_office/2/avatar2.jpg" alt="Аватар" />
				</div>
				<div class="menu_user">
					<ul>
						<li class="b"><a href="private_office_for_other_user.html">Страница кабинета</a></li>
						<li><a href="#">Убрать из друзей</a></li>
						<li><a href="message.html">Написать сообщение</a></li>
						<li><a href="#">Отправить подарок</a></li>
					</ul>
				</div>
			</div>
			<div id="aside">
				<div class="banner_right">
					<a href="#">
						<img src="images/banners/banner_Fantasy.jpg" alt="Банер" />
					</a>
				</div>
				<div class="calendar_list">
					<div class="calendar-top"></div>
					<div class="date">
						<span>20 сентября
						понедельник</span>
					</div>
					<div class="event">
						<a href="organizer.html">встреча в парке в 18:00</a>
					</div>
					<div class="daily_log">
						<a href="organizer.html">Ежедневник</a>
						<ul>
							<li>Купить молоко</li>
							<li>Найти Крочи</li>
							<li>Спасти мир</li>
						</ul>
					</div>
					<div class="calendar">
						<a href="organizer.html" class="today">20</a>|<a href="organizer.html" class="usual_day">21</a>|<a href="organizer.html" class="usual_day">22</a>|<a href="organizer.html" class="the_planned_events">23</a>|<a href="organizer.html" class="usual_day">24</a>|<a href="organizer.html" class="the_planned_events">25</a>|<a href="organizer.html" class="holidays" title="День машиностроителя">26</a>
					</div>
				</div>
			</div>

			<div id="content">
				<div class="info_user">
					<div class="tip2"></div>
					<div class="plashka2"></div>
					<h6>Личная информация</h6>
					<dl>
						<dt><label>Пол</label></dt><dd>женский</dd>
						<dt><label>Проживание</label></dt><dd>Россия, респ. Татарстан, Казань</dd>
						<dt><label>Возраст</label></dt><dd>21</dd>
						<dt><label>Дата рождения</label></dt><dd>01 января 1991</dd>
						<dt><label>Знак зодиака</label></dt><dd>Дева</dd>
					</dl>
					<form action="#">
						<div class="link_details_info">
							<a href="private_office_other_user.html">v Подробная информация v</a>
						</div>
					</form>
					<dl>
						<dt><label>Семейное положение</label></dt><dd>есть пара</dd>
						<dt><label>Сотовый телефон</label></dt><dd>89000000002</dd>
						<dt><label>ВУЗ</label></dt><dd>КГУКИ</dd>
						<dt><label>Работа</label></dt><dd>В деском саду, учителем рисования</dd>
						<dt><label>О себе</label></dt><dd>Рисую, танцую, пою, читаю интересные книги и смотрю хорошее и интересное кино, хожу в походы с друзьями, люблю безоблачное небо с солнцем в зимнюю пору... да просто люблю жить)</dd>
					</dl>
				</div>
				<div class="frends">
					<div class="panel2">
						<div class="tip2"></div>
						<div class="plashka2"></div>
						<h6>Друзья</h6>
					</div>
					<div class="frend">
						<a href="private_office_other_user.html">
							<img src="images/private_office/2/ava1.jpg" alt="avatar" />
							<br />
							<span class="link_name">Евгений Гуздь</span>
						</a>
					</div>
					<div class="frend">
						<a href="private_office_other_user.html">
							<img src="images/private_office/2/ava2.jpg" alt="avatar" />
							<br />
							<span class="link_name">Ильнар Гарипов</span>
						</a>
					</div>
					<div class="frend">
						<a href="private_office_other_user.html">
							<img src="images/private_office/2/ava3.jpg" alt="avatar" />
							<br />
							<span class="link_name">Анастасия Селезнева</span>
						</a>
					</div>
					<div class="frend">
						<a href="private_office_other_user.html">
							<img src="images/private_office/2/ava4.jpg" alt="avatar" />
							<br />
							<span class="link_name">Игорь Кошкин</span>
						</a>
					</div>
					<div class="frend">
						<a href="private_office_other_user.html">
							<img src="images/private_office/2/ava5.jpg" alt="avatar" />
							<br />
							<span class="link_name">Светлана Зейналова</span>
						</a>
					</div>
					<div class="frend">
						<a href="private_office_for_other_user.html">
							<img src="images/private_office/2/ava9.jpg" alt="avatar" />
							<br />
							<span class="link_name">Алексеев Алексей</span>
						</a>
					</div>
					<div class="link_frends">
						<a href="frends_for_other_user.html">Все друзья&nbsp;&gt;&gt;</a>
					</div>
				</div>
				<div class="frends">
					<div class="panel2">
						<div class="tip2"></div>
						<div class="plashka2"></div>
						<h6>Друзья в сети</h6>
					</div>
					<div class="frend">
						<a href="private_office_other_user.html">
							<img src="images/private_office/2/ava4.jpg" alt="avatar" />
							<br />
							<span class="link_name">Игорь Кошкин</span>
						</a>
					</div>
					<div class="frend">
						<a href="private_office_other_user.html">
							<img src="images/private_office/2/ava5.jpg" alt="avatar" />
							<br />
							<span class="link_name">Светлана Зейналова</span>
						</a>
					</div>
					<div class="frend">
						<a href="private_office_for_other_user.html">
							<img src="images/private_office/2/ava9.jpg" alt="avatar" />
							<br />
							<span class="link_name">Алексеев Алексей</span>
						</a>
					</div>
					<div class="frend">
						<a href="private_office_other_user.html">
							<img src="images/private_office/2/ava8.jpg" alt="avatar" />
							<br />
							<span class="link_name">Георгий Кикабидзе</span>
						</a>
					</div>
					<div class="frend">
						<a href="private_office_other_user.html">
							<img src="images/private_office/2/ava17.jpg" alt="avatar" />
							<br />
							<span class="link_name">Гульнара Мингалеева</span>
						</a>
					</div>
					<div class="frend">
						<a href="private_office_other_user.html">
							<img src="images/private_office/2/ava15.jpg" alt="avatar" />
							<br />
							<span class="link_name">Дарья Волкова</span>
						</a>
					</div>
					<div class="link_frends">
						<a href="frends_for_other_user.html">Все друзья&nbsp;&gt;&gt;</a>
					</div>
				</div>
				<div class="albums_office">
					<div class="tip2"></div>
					<div class="plashka2"></div>
					<h6>Фотоальбомы</h6>
					<div class="album_office">
						<a href="#">
							<img src="images/private_office/2/album_1.jpg" alt="альбом" />
						</a>
					</div>
					<div class="album_office">
						<a href="#">
							<img src="images/private_office/2/album_2.jpg" alt="альбом" />
						</a>
					</div>
					<div class="link_albums">
						<a href="photo_gallery_for_other_user.html">Все фотоальбомы&nbsp;&gt;&gt;</a>
					</div>
				</div>
				<div class="videos_office">
					<div class="tip2"></div>
					<div class="plashka2"></div>
					<h6>Видеозаписи</h6>
					<div class="video_office">
						<a href="video_01_for_other_user.html">
							<img src="images/private_office/1/video_1.jpg" alt="альбом" />
							<span class="video_time_office">0:15</span>
						</a>
					</div>
					<div class="video_office">
						<a href="video_01_for_other_user.html">
							<img src="images/private_office/1/video_2.jpg" alt="альбом" />
							<span class="video_time_office">3:15</span>
						</a>
					</div>
					<div class="link_videos">
						<a href="my_video_for_other_user.html">Все видеозаписи&nbsp;&gt;&gt;</a>
					</div>
				</div>
				<div class="gifts">
					<div class="tip2"></div>
					<div class="plashka2"></div>
					<h6>Подарки</h6>
					<div class="gift">
						<a href="#">
							<img src="images/gifts/1/1.png" alt="подарок" />
						</a>
					</div>
					<div class="gift">
						<a href="#">
							<img src="images/gifts/1/2.png" alt="подарок" />
						</a>
					</div>
					<div class="gift">
						<a href="#">
							<img src="images/gifts/1/3.png" alt="подарок" />
						</a>
					</div>
					<div class="gift">
						<a href="#">
							<img src="images/gifts/1/4.png" alt="подарок" />
						</a>
					</div>
					<div class="link_gifts">
						<a href="#">Все подарки&nbsp;&gt;&gt;</a>
					</div>
				</div>
			</div>
			<div class="clearfloat"></div>
			<div class="empty_footer"></div>
		</div>
		<div id="footer">
			<a href="#">2011&nbsp;Quki</a> · <a href="registraciya_1.html">Регистрация</a> · <a href="#">Служба поддержки</a> · <a href="#">Все проекты</a> · <a href="#">Реклама на Quki.ru</a> · <a href="#">Вакансии</a> · <a href="#">Обратная связь</a> · <a href="#">Карта сайта</a>
		</div>
	</body>
</html>