<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Quki</title>
		<link rel="shortcut icon" href="images/quki.ico" />
		<meta http-equiv="Content-Type" content="text/html; charset=windows-1251" />
		<link type="text/css" href="custom-theme/jquery-ui-1.8.5.custom.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="style_registraciya.css" />		
		<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
		<script type="text/javascript" src="js/jquery-ui-1.8.5.custom.min.js"></script>
		<script type="text/javascript">
		/*<![CDATA[*/
			$(function(){
				$('input:submit').button();
			});
		/*]]>*/
		</script>
	</head>
	<body>
		<div id="container">
			<div id="header">
				<div class="top">
					<div class="logo">
						<a href="#"><img src="images/parts/logo.png" alt="Quki" /></a>
					</div>
					<div class="banner_top">
						<a href="#"><img src="images/banners/banner_LCD.jpg" alt="Баннер" /></a>
					</div>
				</div>
			</div>
			<div id="content">
				<div class="registration">
					<p class="heading">Регистрация</p>
					<div class="step">
						Шаг <span>1 2</span> 3
					</div>
					<div class="explanatory">
						Здесь вы можете включить разделы, которые хотели бы видеть на своей странице
					</div>
						<table>
							<tr>
								<td class="Chk"><input name="include_a_section_1[]" type="checkbox" checked="checked" /></td><td>Новости</td>
								<td class="Chk"><input name="include_a_section_2[]" type="checkbox" checked="checked" /></td><td>Для дам</td>
							</tr>
							<tr>
								<td class="Chk"><input name="include_a_section_3[]" type="checkbox" checked="checked" /></td><td>Каталог сайтов</td>
								<td class="Chk"><input name="include_a_section_4[]" type="checkbox" checked="checked" /></td><td>Мужчинам</td>
							</tr>
							<tr>
								<td class="Chk"><input name="include_a_section_5[]" type="checkbox" checked="checked" /></td><td>Каталог товаров</td>
								<td class="Chk"><input name="include_a_section_6[]" type="checkbox" checked="checked" /></td><td>Знакомства</td>
							</tr>
							<tr>
								<td class="Chk"><input name="include_a_section_7[]" type="checkbox" checked="checked" /></td><td>Недвижимость</td>
								<td class="Chk"><input name="include_a_section_8[]" type="checkbox" checked="checked" /></td><td>Обучение</td>
							</tr>
							<tr>
								<td class="Chk"><input name="include_a_section_9[]" type="checkbox" checked="checked" /></td><td>Путешествия</td>
								<td class="Chk"><input name="include_a_section_10[]" type="checkbox" checked="checked" /></td><td>Работа</td>
							</tr>
							<tr>
								<td class="Chk"><input name="include_a_section_11[]" type="checkbox" checked="checked" /></td><td>Авто</td>
								<td class="Chk"><input name="include_a_section_12[]" type="checkbox" checked="checked" /></td><td>Поедим</td>
							</tr>
							<tr>
								<td class="Chk"><input name="include_a_section_13[]" type="checkbox" checked="checked" /></td><td>Здоровье</td>
								<td class="Chk"><input name="include_a_section_14[]" type="checkbox" checked="checked" /></td><td>Афиша</td>
							</tr>
							<tr>
								<td class="Chk"><input name="include_a_section_15[]" type="checkbox" checked="checked" /></td><td>Карты</td>
								<td class="Chk"><input name="include_a_section_16[]" type="checkbox" checked="checked" /></td><td>Бомонд</td>
							</tr>
							<tr>
								<td class="Chk"><input name="include_a_section_17[]" type="checkbox" checked="checked" /></td><td>Видео</td>
								<td class="Chk"><input name="include_a_section_18[]" type="checkbox" checked="checked" /></td><td>Игры</td>
							</tr>
							<tr>
								<td class="Chk"><input name="include_a_section_19[]" type="checkbox" checked="checked" /></td><td>Погода</td>
								<td class="Chk"><input name="include_a_section_20[]" type="checkbox" checked="checked" /></td><td>Открытки</td>
							</tr>
							<tr>
								<td class="Chk"><input name="include_a_section_21[]" type="checkbox" checked="checked" /></td><td>Quki-mania</td>
								<td class="Chk"><input name="include_a_section_22[]" type="checkbox" checked="checked" /></td><td>Софт</td>
							</tr>
							<tr>
								<td class="Chk"><input name="include_a_section_23[]" type="checkbox" checked="checked" /></td><td>Блоги</td>
								<td class="Chk"><input name="include_a_section_24[]" type="checkbox" checked="checked" /></td><td>Hi-tech</td>
							</tr>						
						</table>
					<div class="button_end">
						<input id="joined_on_end" name="joined_on_end" type="submit" value="Зарегистрироваться" />
					</div>
				</div>
				<div class="banner_bottom">
					<a href="#">
						<img src="images/banners/banner_LCD2.jpg" alt="Баннер LCD" />
					</a>
				</div>
			</div>
			<div class="clearfloat"></div>
			<div class="empty_footer"></div>
		</div>
		<div id="footer">
			<a href="#">2011&nbsp;Quki</a> · <a href="registraciya_1.html">Регистрация</a> · <a href="#">Служба поддержки</a> · <a href="#">Все проекты</a> · <a href="#">Реклама на Quki.ru</a> · <a href="#">Вакансии</a> · <a href="#">Обратная связь</a> · <a href="#">Карта сайта</a>
		</div>
	</body>
</html>