<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Quki</title>
		<link rel="shortcut icon" href="images/quki.ico" />
		<meta http-equiv="Content-Type" content="text/html; charset=windows-1251" />
		<link type="text/css" href="custom-theme/jquery-ui-1.8.5.custom.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="style_private_office.css" />		
		<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
		<script type="text/javascript" src="js/jquery-ui-1.8.5.custom.min.js"></script>
		<script type="text/javascript">
		/*<![CDATA[*/
			$(function(){
				$('input:submit').button();
			});
		/*]]>*/
		</script>
	</head>
	<body>
		<div id="container">
			<div id="header">
				<div class="top">
					<div class="logo">
						<a href="#">
							<img src="images/parts/logo.png" alt="Quki" />
						</a>
					</div>
					<div class="banner_top">
						<a href="#">
							<img src="images/banners/banner_LCD.jpg" alt="Баннер" />
						</a>
					</div>
				</div>
				<div class="user_name">
					Алексеев Алекс&#x301;ей
				</div>
				<div class="presence">
					<span class="online">Online</span>
					<span class="last_visiting">Был: 25.09.2010</span>
				</div>
				<form action="#">
					<div class="status">
						<a href="#">Война... Война никогда не меняется (Fallout)</a>
					</div>
				</form>
				<form action="#">
					<div class="exit_button">
						<input id="end" name="end" value="Выход" type="submit" />
					</div>
				</form>
			</div>
			<div id="nav">
				<div class="small_menu">
					<div class="panel">
						<div class="tip"></div>
						<div class="plashka"></div>
						<h6>Мой кабинет</h6>
					</div>
					<ul>
						<li><a href="private_office.html">Личный кабинет</a></li>
						<li><a href="messages.html">Сообщения</a><span>10000&nbsp;/&nbsp;<a href="messages.html">2000</a></span></li>
						<li><a href="message.html">Написать сообщение</a></li>
					</ul>
				</div>
				<div class="avatar">
					<img src="images/private_office/1/avatar.jpg" alt="Аватар" />
				</div>
				<div class="menu_user">
					<ul>
						<li class="b"><a href="private_office_for_other_user.html">Страница кабинета</a></li>
						<li><a href="#">Добавить в друзья</a></li>
						<li><a href="message.html">Написать сообщение</a></li>
						<li><a href="#">Отправить подарок</a></li>
					</ul>
				</div>
			</div>
			<div id="aside">
				<div class="banner_right">
					<a href="#">
						<img src="images/banners/banner_Fantasy.jpg" alt="Банер" />
					</a>
				</div>
				<div class="calendar_list">
					<div class="calendar-top"></div>
					<div class="date">
						<span>20 сентября
						понедельник</span>
					</div>
					<div class="event">
						<a href="organizer.html">встреча в парке в 18:00</a>
					</div>
					<div class="daily_log">
						<a href="organizer.html">Ежедневник</a>
						<ul>
							<li>Купить молоко</li>
							<li>Найти Крочи</li>
							<li>Спасти мир</li>
						</ul>
					</div>
					<div class="calendar">
						<a href="organizer.html" class="today">20</a>|<a href="organizer.html" class="usual_day">21</a>|<a href="organizer.html" class="usual_day">22</a>|<a href="organizer.html" class="the_planned_events">23</a>|<a href="organizer.html" class="usual_day">24</a>|<a href="organizer.html" class="the_planned_events">25</a>|<a href="organizer.html" class="holidays" title="День машиностроителя">26</a>
					</div>
				</div>
			</div>

			<div id="content">
				<form action="#">
					<div class="page_video">
						<ul id="lists">
							<li><a href="my_video_for_other_user.html">Мои видеозаписи</a>&nbsp;<img src="images/parts/next_link.png" alt="" />&nbsp;</li>
							<li>В завтрашний путь</li>
						</ul>
						<div class="video_place">
							<a href="#">
								<img src="images/video/video_user/my_video/page_video/01.jpg" alt="Фотография" />
							</a>
						</div>
						<span class="loading_date_video">12.09.2010</span>
						<div class="the_video_description">
							<p>Потрясающая короткометражка в жанре постапокалипсис, созданная стараниями любителей из России, Украины и Казахстана.Отличный сюжет и визуализация, прекрасная актерская, режиссерская и операторска работа.</p>
						</div>
						<div class="voting_area_2">
							<div class="closed_opportunity_to_vote">
								<span>Доступ к голосованию закрыт</span>
							</div>
						</div>
						<span class="quantity_of_comments">Комментариев: 4</span>
					</div>
					<div class="the_video_menu">
						<ul>
							<li><a href="#">Добавить в избранное</a></li>
						</ul>
						<ul>
							<li><a href="#">Показать друзьям</a></li>
						</ul>
						<ul>
							<li><a href="#">Редактировать</a></li>
						</ul>
					</div>
					<div class="area_of_comments">
						<div class="area_of_comment">
							<div class="avatar_coment">
								<a href="private_office_other_user.html">
									<img src="images/private_office/1/ava_4.jpg" alt="Аватар" />
								</a>
							</div>
							<div class="comment">
								<div class="comment_heading">
									<a href="private_office_other_user.html" class="name_commentator">Самануэль-Ванндерборедор Ибн Евграф Нович-Столыпин</a>
									<p class="comment_date">21:30 12.09.2010</p>
								</div>
								<div class="text_comment">
									<p>Замечательный фильм!</p>
								</div>
							</div>
						</div>

						<div class="area_of_comment">
							<div class="avatar_coment">
								<a href="private_office_other_user.html">
									<img src="images/private_office/1/ava_8.jpg" alt="Аватар" />
								</a>
							</div>
							<div class="comment">
								<div class="comment_heading">
									<a href="private_office_other_user.html" class="name_commentator">Георгий Кикабидзе</a>
									<p class="comment_date">21:30 12.09.2010</p>
								</div>
								<div class="text_comment">
									<p>Действительно, здорово вышло. А я думал, что внашей стране и СНГ неумеют снимать приличные любительские и фан - фильмы)</p>
								</div>
							</div>
						</div>

						<div class="area_of_comment">
							<div class="avatar_coment">
								<a href="private_office_other_user.html">
									<img src="images/private_office/1/ava_18.jpg" alt="Аватар" />
								</a>
							</div>
							<div class="comment">
								<div class="comment_heading">
									<a href="private_office_other_user.html" class="name_commentator">Алексей Плетнев</a>
									<p class="comment_date">21:30 12.09.2010</p>
								</div>
								<div class="text_comment">
									<p>Действительно, здорово вышло. А я думал, что в нашей стране и СНГ неумеют снимать приличные любительские и фан - фильмы)
									<br/>
									- Еще как умеют) Советую зайти на сайт fanfilms.ru, где размещаются любительские и фан- фильмы из России и других стран. Особенно советую посмотреть российскую короткометражку Transformers - Film 1. Очень здорово сделана)</p>
								</div>
							</div>
						</div>
						
						<div class="area_of_comment">
							<div class="avatar_coment">
								<a href="private_office_other_user.html">
									<img src="images/private_office/1/ava_16.jpg" alt="Аватар" />
								</a>
							</div>
							<div class="comment">
								<div class="comment_heading">
									<a href="private_office_other_user.html" class="name_commentator">Татьяна Костина</a>
									<p class="comment_date">21:30 12.09.2010</p>
								</div>
								<div class="text_comment">
									<p>Я конечно не очень люблю фильмы подобного жанра фантастики, но фильм понравился. Очень понравился персонаж девочки Лизы, да и остальные молодцы)</p>
								</div>
							</div>
						</div>
					</div>
					<div class="block_write_the_comment">
						<dl>
							<dt>
								<label for="text_comment_video_user">Добавить комментарий</label>
							</dt>
							<dd>
								<textarea id="text_comment_video_user" name="text_comment_video_user" cols="60" rows="6"></textarea>
							</dd>
						</dl>
						<div class="button_add_comment">
							<input id="add_comment_video_user" value="Добавить комментарий" type="submit" />
						</div>
					</div>
				</form>
			</div>
			<div class="clearfloat"></div>
			<div class="empty_footer"></div>
		</div>
		<div id="footer">
			<a href="#">2011&nbsp;Quki</a> · <a href="registraciya_1.html">Регистрация</a> · <a href="#">Служба поддержки</a> · <a href="#">Все проекты</a> · <a href="#">Реклама на Quki.ru</a> · <a href="#">Вакансии</a> · <a href="#">Обратная связь</a> · <a href="#">Карта сайта</a>
		</div>
	</body>
</html>